body {
    background: rgb(1, 41, 34);
    font-family: 'Courier New', Courier, monospace;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 90.0vh;
}

#text {
    width: 100%;
    text-align: center;
}